@using System.Text.Json
@using System.Text.Json.Serialization
@using WeatherApp.AppCore.Models;
@using WeatherApp.Client.Components;

@inject HttpClient Http


 @if (characts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <div class="filters-form">
            <div>
                <label>Select date</label>
                <input type="date">
            </div>
            <div>
                <label>Select region</label>
                <select name="Region">
                    @foreach(var reg in regions)
                    {
                        <option value="@reg.Reg_code"> @reg.Reg_name </option>
                    }
                </select>
            </div>
            <div>
                <Button Color="ButtonColor.Primary" @onclick="OnShowModalClick">Vertically centered modal</Button>
                @* <button class="enabled-input-form" @onclick=Toggle>+</button> *@
            </div>
        </div>

        @*@if (!Collapsed)
        {
           <WeatherInput_Component />
        } *@

        <Modal @ref="modal" title="Add new characteristic" IsVerticallyCentered="true">
            <BodyTemplate>
                <WeatherInput_Component />
            </BodyTemplate>
            <FooterTemplate>
                <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>
                <Button Color="ButtonColor.Primary" @onclick="AddCharacteristic">Save changes</Button>
            </FooterTemplate>
        </Modal>

        <Grid @ref="grid"
          TItem="ClimateDayInfoDTO"
          Class="table table-hover table-bordered table-striped"
          DataProvider="WeatherDataProvider"
          AllowFiltering="true"
          Responsive="true">

            <GridColumn TItem="ClimateDayInfoDTO" HeaderText="UUID" PropertyName="ClimatDayInfo_ID">
                @context.ClimatDayInfo_ID
            </GridColumn>
            <GridColumn TItem="ClimateDayInfoDTO" HeaderText="UUID_Region" PropertyName="RegionID">
                @context.RegionID
            </GridColumn>
            <GridColumn TItem="ClimateDayInfoDTO" HeaderText="Date" PropertyName="day_Date">
                @context.day_Date
            </GridColumn>
        </Grid>

    </div>
}
